[submodule "lib/platdebug-cli"]
	path = lib/platdebug-cli
	url = git@github.com:ERNICommunity/debug-cli.git
	branch = master
[submodule "lib/plat/debug-cli"]
	path = lib/plat/debug-cli
	url = git@github.com:ERNICommunity/debug-cli.git
	branch = master
